---
http_interactions:
- request:
    method: get
    uri: https://semaphoreapp.com/api/v1/projects?auth_token=Yds3w6o26FLfJTnVK2y9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"e42bf466c06c9118300b3a6408b531b1"'
    body:
      encoding: US-ASCII
      string: ! '[
    {
        "id": 61,
        "hash_id": "3f1004b8343faabda63d441734526c854380ab89",
        "name": "testapp-sphinx",
        "owner": "renderedtext",
        "created_at": "2012-09-04T11:53:22Z",
        "updated_at": "2012-09-04T12:01:17Z",
        "branches": [
            {
                "branch_name": "master",
                "branch_url": "http://10.0.1.76:3000/projects/61/branches/85",
                "branch_status_url": "http://semaphoreapp.com/api/v1/projects/3f1004b8343faabda63d441734526c854380ab89/85/status?auth_token=Yds3w6o26FLfJTnVK2y9",
                "branch_history_url": "http://semaphoreapp.com/api/v1/projects/3f1004b8343faabda63d441734526c854380ab89/85?auth_token=Yds3w6o26FLfJTnVK2y9",
                "project_name": "testapp-sphinx",
                "build_url": "http://10.0.1.76:3000/projects/61/branches/85/builds/1",
                "build_number": 1,
                "result": "passed",
                "started_at": "2012-09-04T11:55:07Z",
                "finished_at": "2012-09-04T12:01:16Z"
            }
        ]
    },
    {
        "id": 63,
        "hash_id": "649e584dc507ca4b73e1374d3125ef0b567a949c",
        "name": "testapp-mongodb",
        "owner": "renderedtext",
        "created_at": "2012-09-14T10:53:38Z",
        "updated_at": "2012-09-14T11:16:51Z",
        "branches": [
            {
                "branch_name": "mongoid3",
                "branch_url": "http://10.0.1.76:3000/projects/63/branches/89",
                "branch_status_url": "http://semaphoreapp.com/api/v1/projects/3f1004b8343faabda63d441734526c854380ab89/85/status?auth_token=Yds3w6o26FLfJTnVK2y9",
                "branch_history_url": "http://semaphoreapp.com/api/v1/projects/3f1004b8343faabda63d441734526c854380ab89/85?auth_token=Yds3w6o26FLfJTnVK2y9",
                "project_name": "testapp-mongodb",
                "build_url": "http://10.0.1.76:3000/projects/63/branches/89/builds/3",
                "build_number": 3,
                "result": "passed",
                "started_at": "2012-09-14T11:11:39Z",
                "finished_at": "2012-09-14T11:16:51Z"
            }
        ]
    }
]'
  recorded_at: Sat, 20 Oct 2012 09:39:19 GMT
recorded_with: VCR 2.2.5
